.card {
    background-color: white;
    border-radius: 20px;
    max-width: 460px;
    filter: drop-shadow(5px 5px 10px #edecec);
    position: absolute;
    top:35%;
    margin: 15px;
}

@media only screen and (max-width: 600px) {
    .card {
        background-color: white;
        border-radius: 20px;
        max-width: 460px;
        filter: drop-shadow(5px 5px 10px #edecec);
        position: absolute;
        top:5%;
        margin: 15px;
    }
}

.innerCard {
    margin: 20px;
}

#portfolio-text-title {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

#portfolio-text-body {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    color: black;
}

#portfolio-text-p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

#portfolio-text-extended-inactive {
    font-weight: 300;
    font-size: 18px;
    color: black;
    line-height: 1.5;
    height:0px;
    visibility: hidden;
    opacity: 0;
}

#portfolio-text-extended-active {
    font-weight: 300;
    font-size: 18px;
    color: black;
    line-height: 1.5;
    margin-top: 20px;
    height:auto;
    visibility:visible;
    opacity: 1;

    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    -ms-transition: all .8s ease;
    transition: all .8s ease;
}

#text-hr {
    border-top: thin solid rgb(222, 222, 222);
    margin: 15px 0px 5px 0px;
}

#button-extend {
    color: black;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

#button-extend:hover {
    color: #034ff4;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}