.card {
    background-color: white;
    border-radius: 20px;
    max-width: 550px;
    filter: drop-shadow(5px 5px 10px #edecec);
    margin:15px;
}

.innerCard {
    margin: 20px;
}

#portfolio-text-title {
    font-weight: 500;
    font-size: 36px;
    color: black;
}

#portfolio-text-body {
    font-weight: 300;
    font-size: 28px;
    line-height: normal;
    margin-top: 15px;
    color: black;
}

.chip-container {
    margin-top: 15px;
}