.chip {
  display: inline-block;
  padding: 0 15px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border-radius: 25px;
  background-color: #ffffff;
  outline: solid 2px black;
  margin:10px 20px 5px 0px;
  cursor: pointer;
}

.chip__a {
  color: #000000;
  text-decoration: none;
}

.chip:hover {
  background-color: #034ff4;
  color: white;
}

.chip:hover > a{
  background-color: #034ff4;
  color: white;
}