@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.App {
  background-color: #080808;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.body-container {
  max-width: 800px;
}

img {
  border-radius: 50%;
  margin-left: 35px;
}

.profile-container {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

#portfolio-text-title {
  font-weight: 500;
  margin: 0px 0px 0px 20px;
}

#portfolio-text-body {
  font-weight: 200;
  max-width: 80vw;
  margin: 0px 0px 5px 35px;
}

#portfolio-text-footer {
  font-weight: 400;
  margin: 20px 0px 5px 35px;
}

#portfolio-text-projects {
  font-weight: 500;
  margin: 0px 0px 5px 35px;
}

#portfolio-hr-projects {
  border: 0.5px solid rgb(18, 18, 18);
  width: 95%;
  margin: 0 auto;
}

.hr-project-item {
  border: 0.5px solid rgb(18, 18, 18);
  width: 80%;
  margin: 0 auto;
}

.portfolio-project-li {
  font-weight: 200;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.list-item {
  font-weight: 200;
  margin-left: 35px;
}

.chip-container {
  margin: 10px 0px 20px 35px;
}

.chip {
  display: inline-block;
  padding: 0 20px;
  margin-right: 10px;
  height: 50px;
  line-height: 35px;
  border-radius: 25px;
  font-weight: 500;
}
.chip__a {
  color: #86f3df;
  text-decoration: none;
  font-size: 16px;
}
.chip--green {
  background-color: #032b3a;
}

@media only screen and (max-width: 600px) {

  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  img {
    border-radius: 50%;
    margin-left: 35px;
    width: 170;
    height: 70;
  }

  .profile-container {
    display: flex;
    margin-bottom: 20px;
  }

  #portfolio-text-title {
    font-weight: 500;
    font-size: 2em;
    margin: 0px 0px 0px 20px;
  }

  #portfolio-text-body {
    font-weight: 200;
    font-size: 1.2em;
    max-width: 87vw;
    margin: 0px 0px 5px 35px;
  }

  #portfolio-text-footer {
    font-weight: 400;
    font-size: 1.5em;
    margin: 20px 0px 5px 35px;
  }

  #portfolio-text-projects {
    font-weight: 500;
    margin: 0px 0px 5px 35px;
  }

  #portfolio-hr-projects {
    border: 0.5px solid rgb(18, 18, 18);
    width: 95%;
    margin: 0 auto;
  }

  .hr-project-item {
    border: 0.5px solid rgb(18, 18, 18);
    width: 80%;
    margin: 0 auto;
  }

  .portfolio-project-li {
    font-weight: 200;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .list-item {
    font-weight: 200;
    margin-left: 35px;
  }

  .chip-container {
    margin: 10px 0px 20px 35px;
  }

  .chip {
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    font-weight: 500;
  }
  .chip__a {
    color: #86f3df;
    text-decoration: none;
    font-size: 16px;
  }
  .chip--green {
    background-color: #032b3a;
  }
 
}


@media only screen and (max-width: 400px) {
  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  img {
    border-radius: 50%;
    margin-left: 35px;
    width: 170;
    height: 70;
  }

  .profile-container {
    display: flex;
    margin-bottom: 20px;
  }

  #portfolio-text-title {
    font-weight: 500;
    font-size: 2em;
    margin: 0px 0px 0px 20px;
  }

  #portfolio-text-body {
    font-weight: 200;
    font-size: 1.5em;
    max-width: 80vw;
    margin: 0px 0px 5px 35px;
  }

  #portfolio-text-footer {
    font-weight: 400;
    font-size: 1.5em;
    margin: 20px 0px 5px 35px;
  }

  #portfolio-text-projects {
    font-weight: 500;
    margin: 0px 0px 5px 35px;
  }

  #portfolio-hr-projects {
    border: 0.5px solid rgb(18, 18, 18);
    width: 95%;
    margin: 0 auto;
  }

  .hr-project-item {
    border: 0.5px solid rgb(18, 18, 18);
    width: 80%;
    margin: 0 auto;
  }

  .portfolio-project-li {
    font-weight: 200;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .list-item {
    font-weight: 200;
    margin-left: 35px;
  }

  .chip-container {
    margin: 10px 0px 20px 35px;
  }

  .chip {
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    font-weight: 500;
  }
  .chip__a {
    color: #86f3df;
    text-decoration: none;
    font-size: 16px;
  }
  .chip--green {
    background-color: #032b3a;
  }
 
}